<app-centered-card title="Register">
  <form fxLayout="column" fxLayoutAlign="center" #f="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Display name</mat-label>
      <input type="text" name="displayName" matInput required #displayName="ngModel" ngModel>
      <mat-error *ngIf="displayName.touched && displayName.hasError('required')">
        Name is required!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="text" name="email" autocomplete="username"
             email required matInput ngModel #email="ngModel">
      <mat-error *ngIf="email.touched && email.hasError('required')">
        Email is required!
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">
        Enter valid email!
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('serverError')">
        {{ email.getError('serverError') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput required name="password" #password="ngModel" ngModel>
      <mat-error *ngIf="password.touched && password.hasError('required')">
        Enter password!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone number (+996)XXX-XXX-XXX)</mat-label>
      <input type="text" matInput required name="phoneNumber" #phoneNumber="ngModel" appPhone ngModel>
      <mat-error *ngIf="phoneNumber.touched && phoneNumber.hasError('required')">
        Enter phone number!
      </mat-error>
      <mat-error *ngIf="phoneNumber.touched && phoneNumber.hasError('appPhone')">
        Enter valid phone number!
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="(loading | async)">REGISTER</button>
  </form>
</app-centered-card>
